.advantages__title {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.advantages__item--greywrap {
  background-color: #eeeeee;
}

.advantages__item--grey {
  & .advantages__text:last-child {
    padding-bottom: 26px;
  }
}

.advantages__item--blue {
  color: #ffffff;
  background-color: #81b3d2;
  & .advantages__text:last-child {
    padding-bottom: 38px;
  }
}
