.authentic__list {
  text-align: left;
}

.authentic__title {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
}

@media (min-width: @tablet-width) {
  .authentic__list {
    display: flex;
    text-align: center;
  }
}
