.list-item {
  width: 280px;
  text-align: left;
}

.list-item__title {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.list-item__text {
  text-transform: none;
}

@media (min-width: @tablet-width) {
  .list-item {
    width: 324px;

    &:nth-child(1) {
      width: 100%;
    }
  }
}

@media (min-width: @desktop-width) {
  .list-item {
    width: 400px;
  }
}
