.main-nav {
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
}

@media (min-width: @tablet-width) {
  .main-nav {
    font-size: 14px;
    line-height: 26px;
  }
  .main-nav__toggle {
    display: none;
  }
}
